body{
    background-color: #191919;
    font-family: sans-serif;
}
.site-title{
    color: #fff;
    font-size: 85px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px; 
}
.search-container{
    display: flex;
    width: 100%;
    height: 400px;
    flex-flow: column;
    justify-content: center;
    background-image: url('assets/pexels-pixabay-326279.jpg');
}
.search-box{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.search-box>button{
    margin: 0px 5px;
    width: 50px;
    height: 41.5px;
    font-size: 25px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 2.5px;
}
#advandedSearchButton{
    margin: 10px 0px;
    background-color: transparent;
    font-weight: 700;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#foodNameInput{
    min-width: 75px;  
    font-size: 1.15rem;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
}
input[type=number]{
    min-width: 50px !important;
    max-width: 100px;
}
.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
    padding-top: 20px;
    margin: 0px 50px;
}
.bold{
    font-weight: 800;
}
.card{
    width: 20rem;
    margin-bottom: 50px;
}
.card-header{
    height: 75px;
}
.card-header>a{
    display: block;
    color: black;
    font-size: 1.25rem;
    font-weight: 900;
}
.card-header>a:hover{
    text-decoration: none;
    color: #0085a1;
}
.card-text{
    height: 50%;
}
.card-text>span{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
}

.ingredients-title{
    font-size: 1.45rem;
    font-weight: 900;
}
.ingredients-content{
    font-size: 1.1rem;
    font-weight: 500;
}
#noResults{
    font-size: 3.5rem;
}